.main
  .header
    .header__left
      .header__left__title
        = @group.name
      %ul.header__left__members
        Member:
        - @group.users.each do |user|
          %li.member
            = user.name
    .header__right
      .header__right__button
        =link_to edit_group_path(@group.id) do
          Edit

  .messages
    = render @messages
  
  .form
    = form_for [@group, @message] do |f|
      .form__message
        = f.text_field :content, class:"form__message__text", placeholder: 'type a message'
        = f.label :image, class: "form__message__image" do
          = icon('fa','image',class: 'icon')
          =f.file_field :image, class:"hidden"
        =f.submit 'Send', class:"form__submit"
